services:
  rembg:
    image: ironnicko1413/outfits.ai-rembg:latest
    build:
      context: Segment/
      dockerfile: Dockerfile-rembg
    platform: linux/arm64
    ports:
      - "7001:7001"
    volumes:
      - pgdata:/var/lib/.u2net/
    networks:
      - outfits-ai-network
    healthcheck:
      test: ["CMD", "curl", "http://localhost:7001"]
      interval: 10s
      retries: 5
      
      start_period: 30s
      timeout: 10s

  segment:
    image: ironnicko1413/outfits.ai-segment:latest
    build:
      context: Segment/
      dockerfile: Dockerfile
      platforms: 
        - linux/arm64
    environment:
      - HF_HOME=/var/lib/.u2net/
      - PRODUCTION=prod
    ports:
      - "8001:8001"
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/.u2net/
    networks:
      - outfits-ai-network
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8001"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s


  backend:
    image: ironnicko1413/outfits.ai-backend:latest
    build:
      context: Go-Backend/
      dockerfile: Dockerfile
      platforms: 
        - linux/arm64
    env_file:
      - ./.env
    environment:
      - PRODUCTION=prod
    networks:
      - outfits-ai-network
    ports:
      - "8000:8000"
    depends_on:
      segment:
        condition: service_healthy
        restart: true
      rembg:
        condition: service_healthy
        restart: true

  # frontend:
  #   image: ironnicko1413/outfits.ai-frontend:latest
  #   build:
  #     context: Frontend/
  #     dockerfile: Dockerfile
  #   env_file:
  #     - ./.env
  #   environment:
  #     - VITE_PUBLIC_IP=${VITE_PUBLIC_IP}
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - outfits-ai-network

volumes:
  pgdata:

networks:
  outfits-ai-network:
      driver: bridge
