annotated-types==0.7.0
anyio==4.7.0
boto3==1.35.79
botocore==1.35.79
click==8.1.7
coloredlogs==15.0.1
exceptiongroup==1.2.2
fastapi==0.115.6
flatbuffers==24.3.25
h11==0.14.0
humanfriendly==10.0
idna==3.10
jmespath==1.0.1
mpmath==1.3.0
numpy==2.0.2
onnxruntime==1.19.2
packaging==24.2
pillow==11.0.0
protobuf==5.29.1
pydantic==2.10.3
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.19
s3transfer==0.10.4
scipy==1.13.1
six==1.17.0
sniffio==1.3.1
starlette==0.41.3
sympy==1.13.3
typing_extensions==4.12.2
urllib3==1.26.20
uvicorn==0.32.1
